<!DOCTYPE html>
<html>
  <head>
    <title>Hqtest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-center nav-menu">
        <a class="nav-item" href="<%= root_path %>"> IVHQ </a>
      </div>
    </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
